version: '3.9'

services:
  postgres:
    image: postgres:15
    ports:
      - '5433:5432'        # if this port is busy, change to '5433:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: shopping_dev
    volumes:
      - 'postgres:/var/lib/postgresql/data'

volumes:
  postgres:
